{% extends 'MaciejUserBundle:Default:Default.html.twig' %}

{% set active = 'CompanyList'%}

{% block title %}List{% endblock %}


{% block body %} 
    <form action="{{ path('usergamesearch')}}" method="post">
        <table>
            <tr>
                <td> <input name="searchTitle" type="text"> </td>
                <td>
                    <select name="searchCompany">
                        <option value=""></option>
                        {% for company in companies %}
                            <option  value ="{{company.company}}">{{company.company}}</option>
                        {%endfor%}
                </td>
                <td> <input name="preDate" type="date" > </td>
                <td> <input name="postDate" type="date"> </td>
                <td> <input type="submit" value="Search" >
            </tr>
        </table>
    </form>

    <table>

        <tr>
            <td>Title</td>
            <td>Company name</td>
            <td> Date </td>
            <td> Logo </td>
        </tr>
        {% for game in games %}
            <tr id="{{game.id}}">
                <td> {{game.title}} </td>    
                <td> {{game.company.company}} </td>
                <td> {{game.releaseDate.format('Y-m-d')}} </td>
                <td>
                    {% if urls is empty %} 
                        <img src="{{asset('/uploads/logos/' ~ game.logo)}}"> 
                    {% else %}
                        {%for url in urls %}
                            {% if url.key == game.logo %} 
                                <img src="{{asset(url.url)}}"> 

                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>

                <td>  <a href="{{ path('usergamesingle', {'id' : game.id})}}">View Game</a> </td>

            </tr>
        {%endfor%}

    </table>

    {%for p in 1..pages %}
        <a href="{{ path('usergamesearch', {'pagee' : p, 'url' : criteria})}}">{{p}}</a>

    {%endfor%}
    {{dump(criteria)}}


{% endblock %}  {# empty Twig template #}
