{% extends 'MaciejUserBundle:Default:Default.html.twig' %}

{% set MyVal = 0 %}

{% block title %}List{% endblock %}


{% block body %} 
    {{ dump(Game.getImages()) }}
    <table>
        <tr>
            <td>Title</td>
            <td>Company name</td>
            <td> Date </td>
            <td> Logo </td>
        </tr>

        <tr>
            <td> {{Game.getTitle()}} </td>    
            <td> {{Game.getCompany().getCompany()}} </td>
            <td> {{Game.getReleaseDate().format('Y-m-d')}} </td>
            <td>
                {% if Game.getLogoLink() is defined %}
                <img src="{{asset(Game.getLogoLink())}}">    
                {%endif%}
            </td>
        </tr>

    </table>
    Game Gallery
    <table>
        
        <tr>
            {%for image in Game.getImages() %}
                {% if image.getIsLogo() == false %}
                    <td><img src="{{asset(image.getGameImage())}}">    </td>
                    {%endif%}
                {% set MyVal = MyVal + 1 %}
                {% if MyVal == 6 %}
                    {% set MyVal = 0 %}
                </tr>
                <tr>
                {%endif%}
            {%endfor%}
        </tr>

    </table>





{% endblock %} 