{% extends 'MaciejStudyBundle:Default:Default.html.twig' %}



{% block title %}List{% endblock %}


{% block body %} 
    <table>

        {% for game in games %}
            <tr> 
                <td>
                    <a href="{{ path('gameimagelist', {'title' : game.title})}}">{{ game.title}}</a>  
                    {%for image in game.images%}
                    {%endfor%}
                </td>
            </tr>
        {% endfor %}
    </table>
    <b> {{ title }} Gallery </b></br>
    {% for game in games %}
        {% if game.gettitle() == title %}
            {%if game.getLogoLink() is not null %}
                    <img src="{{asset(game.getLogoLink())}}"> </td></br>           
            {%endif%}
            {%for image in game.images%}
                {% if image.getIsLogo() == 0 %}
                <img src="{{asset(image.getgameimage())}}"> </td>
            <a href="{{ path('gameimagesetlogo', {'id' : image.getId(), 'gameId' : game.getId()})}}">Set Logo</a>  
        {%endif%}
    {%endfor%}
{%endif%}
{% endfor %}
<p id="logo"></p>


{% endblock %}  