{% extends 'MaciejStudyBundle:Default:Default.html.twig' %}



{% block title %}List{% endblock %}


{% block body %} 
    <table>

        {% for game in games %}
            <tr> 
                <td>
                    <a href="{{ path('gameimagelist', {'gameId' : game.id})}}">Game {{ game.title}}, Company {{game.getCompany().getCompany()}}</a>  
                    {%for image in game.images%}
                    {%endfor%}
                </td>
            </tr>
        {% endfor %}
    </table>
    <b> {{ game1.0.getTitle() }} {{ dump(game1)}} Gallery </b></br>


            {%if game1.0.getLogoLink() is not null %}
                    <img src="{{asset(game1.0.getLogoLink())}}"> </td></br>           
            {%endif%}
            {%for image in game1.0.getImages()%}
                {% if image.getIsLogo() == 0 %}
                <img src="{{asset(image.getgameimage())}}"> </td>
            <a href="{{ path('gameimagesetlogo', {'id' : image.getId(), 'gameId' : game1.0.getId()})}}">Set Logo</a>  
        {%endif%}
    {%endfor%}


<p id="logo"></p>


{% endblock %}  