{# empty Twig template #}
{% extends 'MaciejStudyBundle:Default:Default.html.twig' %}

{% block title %}Form{% endblock %}


{% block body %} 

    {{ form_start(form) }}
    {{ form_widget(form) }}

     {% if not game.logo is empty%}
   {% if urls is empty %} 
        <img src="{{asset('/uploads/logos/' ~ game.logo)}}"> 
    {% else %}
        {%for url in urls %}
            {% if url.key == game.logo %} 
                <img src="{{asset(url.url)}}"> 

            {% endif %}
        {% endfor %}
    {% endif %}
    <a href="{{ path('gamedeleteimage', {'wild' : game.id})}}">Delete Image </a>
{%endif%}
    <input type="submit" value="Edit"
           class="btn btn-default pull-right"/>
    {{ form_end(form) }}


{% endblock %}  