{% extends 'MaciejStudyBundle:Default:Default.html.twig' %}

{% set active = 'GamesList'%}

{% block title %}List{% endblock %}


{% block body %} 
    <table>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Company name</td>
            <td> Date </td>
            <td> Logo </td>

        </tr>
        {% for game in games %}
            <tr>
                <td> {{ game.id}} </td>
                <td> {{game.title}} </td>    
                <td> {{game.company.company}} </td>
                <td> {{game.releaseDate.format('Y-m-d')}} </td>
                {%for image in game.images%}
                    {%if image.getIsLogo == 1%}
                        <td><img src="{{asset(image.getgameimage())}}"></td>
                        {%endif%}
                    {%endfor%}

                <td>  <a href="{{ path('gamedelete', {'id' : game.id})}}">Delete</a> </td>
                <td>  <a href="{{ path('gameedit', {'id' : game.id})}}">Edit</a> </td>
                <td>  <a href="{{ path('gameimagelist', {'gameId' : game.getId()})}}">Gallery</a> </td>
            </tr>
        {% endfor %}

    </table>



{% endblock %}  