{% extends 'MaciejStudyBundle:Default:Default.html.twig' %}

{% set active = 'CompanyList'%}
{% block title %}List{% endblock %}
{% block body %} 
    <table>
        <tr>
            <td>Id</td>
            <td>Company Name</td>
            <td>Owner Name</td>
            <td>Owner Surname</td>
            <td>Founding Date </td>
        </tr>
        {% for company in companies %}
            <tr>
                <td> {{company.id}} </td>
                <td> {{company.company}} </td> 
                <td> {{company.ownername}} </td>
                <td> {{company.ownersurname}} </td>
                <td> {{company.founded.format('Y-m-d')}} </td>
                <td> <img src="{{asset(company.clogo)}}"> </td>
                <td> <a class ="company" id="company{{company.id}}"  href = "{{ path('companydelete', {'id' : company.id})}}"> Delete </a> </td>
                <td>  <a href="{{ path('companyedit', {'id' : company.id})}}">Edit</a> </td>
            </tr>
         
        {% endfor %}
    </table>
    <script type="text/javascript">
        $(".company").click(function () {
            if (!confirm("Do You want to delete record?")) {
                return false;
            }
        });
     </script>

{% endblock %}  {# empty Twig template #}
